[2021-08-31 14:12] R0FGV opened #3 "garbled characters"
Hello, the Chinese system I am using has garbled characters, and the temperature sign has changed to: 癈
![image](https://user-images.githubusercontent.com/19688305/131518196-3f4ca448-ba72-4310-a0ce-3865b4e00cca.png)

[2021-09-01 05:20] Shuzhengz commented on #3
huh that's weird

[2021-09-01 05:28] Shuzhengz commented on #3
try #4 and see if it works

[2021-09-02 17:26] Shuzhengz commented on #3
try testing it in visual studio first

[2021-09-04 12:00] R0FGV commented on #3
yep~ test completion🙂

[2021-09-05 02:09] #3 closed

[2021-09-05 02:15] Shuzhengz commented on #3
@R0FGV see 2.0.2 release

[2021-10-31 19:31] dharmatech opened #5 "TPFanCtrl2 on X1 Extreme Gen 3"
Hello,

Some discussion regarding using TPFanCtrl2 on an X1 Extreme Gen 3 here:

https://forums.lenovo.com/t5/ThinkPad-X-Series-Laptops/ThinkPad-X1-Extreme-Gen-3-fans-always-on/m-p/5107024?page=1#5471879

Note the messages 'failed to read TEMP1 byte from EC' in the log:

![image](https://user-images.githubusercontent.com/20816/139598548-cdd60500-6ab5-4053-b43f-c3637746ff68.png)

It never seems to

[2021-10-31 20:07] Shuzhengz commented on #5
Hi

The EC issue is a known problem caused by Lenovo's BIOS on some newer devices overriding and blocking the software from reading the EC (embedded controller). I'm still working on fixing this issue and hopefully I can get it into another release. This problem usually happens after the CPU reaches a high tempature and thermal throttles, but it can also happen if the EDP gets throtled and the BIO

[2021-10-31 20:17] dharmatech commented on #5
@Shuzhengz

Thanks for these example settings. I've plugged them in and it seems to be working well.

[2021-10-31 20:34] Shuzhengz commented on #5
No problem, glad I can help!

[2021-11-01 16:20] dharmatech commented on #5
@Shuzhengz,

Here's a screenshot of TPFanControl and the CPU view inTaskManager on my system at the moment:

![image](https://user-images.githubusercontent.com/20816/139704586-a8e680ad-6346-4192-b93a-1375454e65db.png)

However, if I look underneath the laptop at the fans, the left one is off and the right one is on.

Is it normal for only one fan to be on at a time sometimes?

Is there a way to te

[2021-11-02 06:55] Shuzhengz commented on #5
Huh that's weird, have you tried restarting the program and see if it fixes the issue?

FYI program actually generates a log file if it's in debug mode (if you build it from source that is), and that's probably going to be more useful than the GUI

But yeah I'll definitely look at his version and see

Thank you!

[2021-11-02 06:55] Shuzhengz commented on #5
Cool seems like it's this commit that fixes the issue
https://github.com/nikolasgd/TPFanControl-dual-fan/commit/6ad1259c03a66dd0c7905e6f57e6751865b3c231

[2021-11-02 08:59] Shuzhengz commented on #5
cool, try release 2.0.3 Beta

[2021-11-02 18:31] dharmatech commented on #5
Interesting comment from Niko here:

https://github.com/nikolasgd/TPFanControl-dual-fan/issues/4

He says TPFanControl stopped working after a BIOS upgrade.

[2021-11-02 18:32] dharmatech commented on #5
@Shuzhengz,

It would be awesome if the authors of the various forks of TPFanControl collaborated on the same repository so that we all benefit from the shared knowledge, fixes and features.

Have you considered submitting your patches to Niko's repository?

https://github.com/nikolasgd/TPFanControl-dual-fan

[2021-11-02 20:35] Shuzhengz commented on #5
Yeah TPFC would sometimes stop working if the BIOS thermal regulator kicks in on newer Intel CPUs (8th gen and later as far as I know).
You can bypass this by editing the MSR registry but that would risk bricking the computer

[2021-11-02 20:37] Shuzhengz commented on #5
Sure, but I'm currently working on other things so maybe later

[2021-11-16 05:18] #5 closed

[2021-11-19 10:21] Shuzhengz opened #8 "EC Read Error"

[2021-11-19 17:48] Shuzhengz opened #9 "UI Problems"
UI changes sometimes not applied to the program

[2021-11-19 17:49] Shuzhengz opened #10 "Executable instead of full program files"
Switch to an executable

[2021-11-19 17:49] Shuzhengz opened #11 "New UI"
A new and more modern UI

[2021-11-19 17:50] Shuzhengz opened #12 "Config Editor"
A way to edit the configs inside the program instead of messing with the .ini

[2021-11-19 17:50] Shuzhengz commented on #11
Also add dark mode

[2021-11-20 22:10] #8 closed

[2021-11-21 22:14] #9 closed

[2021-11-21 22:14] #10 closed

[2021-12-04 04:33] Shuzhengz opened #15 "User Friendly"
Be more user friendly
- More simple manual mode values
- Less info as an option
- Have the log more readable

[2021-12-04 04:36] Shuzhengz opened #16 "Single Fan Device RPM display"
**Describe the bug**
When on single fan device, the fan RPM does not seem to be working

**To Reproduce**
Run the program on a single fan device (ThinkPad T460 for example)

**Expected behaviour**
One RPM is zero and the other one is constantly at 6000

**Desktop (please complete the following information):**
 - OS: Windows 10 Version 21H1
 - CPU: Intel Core i7-6600U
 - Software release version: 2

[2021-12-06 07:12] Shuzhengz commented on #12
Also needs to be largely graphical

[2022-01-06 05:59] Shuzhengz opened #18 "Change Main Branch"
Change from master to main

[2022-01-06 06:00] #18 closed

[2022-01-07 05:13] Shuzhengz opened #19 "Deprecation"
Deprecation on libraries and external packages after switing to Visual Studio 2022

[2022-01-11 12:24] vtainc opened #20 "Thinkbook 13s Gen2 not working"
HI,

I understandt, that this is not a clear ThinkPad, but original tpfancontrol 0.62e works without problems, but controls only one fan ( 255 min, 0 - max )

TPFanCtrl2 is not working - writes to log, that it is not possible to read from EC register.

[2022-01-11 19:47] Shuzhengz commented on #20
Hi,

Can you check if [TVicPort ](https://www.entechtaiwan.com/dev/port/index.shtm) is installed correctly on your laprop? EC read errors usually have something to do with it. The program also needs administration permission to run so maybe run it as admin.

It would also be great if you can specify your computer's specification (Model, specific CPU info, BIOS version, OS and build number, and the

[2022-01-11 19:50] vtainc commented on #20
Yes, tvciport is installed and working, because i'm using tpfancontrol 0.62e

[2022-01-11 19:59] Shuzhengz commented on #20
yeah, but v.0.63e is "special version for Edge E520 only" (info from thinkwiki), so it doesn't confirm that everything is installed correctly

[2022-01-12 09:48] vtainc commented on #20
I know, that it is special version. But the difference is only that on almost all thinkpads fan can be controlled using speeds from 0 to 7, but in 0.62e speeds are controlled from 255 to 0.

I have tried to test tpfanctrl2 from the beginning, what I have done:

1. Reset win11 :D
2. Installed latest free tvicport.
3. downloaded tpfanctrl2, but anyway - same error message.
4. after this removed tvic

[2022-01-12 17:17] Shuzhengz commented on #20
Oh there's actually a 0-80 controll mode in TPFC2, so maybe you can try that. If you have Lenovo's Vantage software installed, make sure to disable the "inteligent" control mode as it messes with the EC in some situations.

I think the 0.62e version has different CPU sensors, but I'm not very sure (I can't find the source code for tha release). I'm happy to make a special release version, but I do

[2022-01-12 17:20] Shuzhengz commented on #20
Can you inlude the error message (a screenshot and description would be fine)? I need to know where and what went wrong in order to debug it.

[2022-01-12 17:52] vtainc commented on #20
![image](https://user-images.githubusercontent.com/19706430/149194135-735cf9aa-213c-4808-b10c-e4bdaefe4e13.png)

After analyzing EC controller data I have found that:

147,150 - fan mode selection
14 - manual control
04 - bios

148 - fan speed 1 set ; 149 - unknown, seems to be, that this is raw fan speed, but i'm unable to guess how to decode it - it is only byte, but fan speed can be up to 9000

[2022-01-12 18:02] vtainc commented on #20
LENOVO ThinkBook 13s G2 ITL
Microsoft Windows 11 Professional (x64) Build 22000.434
Intel Core i7-1165G7
Bios version: F9CN46WW

[2022-01-12 20:07] Shuzhengz commented on #20
Cool, I'll look into it later today

[2022-01-16 01:04] Shuzhengz commented on #20
@vtainc Try this and see if it works (i can't test it because it breaks on my computer now, but it should work based on the data
[tb13s.zip](https://github.com/Shuzhengz/TPFanCtrl2/files/7876176/tb13s.zip)

[2022-01-16 08:25] vtainc commented on #20
Hi,

Thank you for your time, but - no, it doesn't work. Same behavior as last time.

Maybe you need some additional data?

[2022-01-16 23:01] Shuzhengz commented on #20
Yeah that'd be great

Can you enable the `Log2File` flag in the ini file for V0.62e, let it run for a few minutes, then send the `TPFanControl.log` file?

Thanks!

[2022-01-17 08:03] vtainc commented on #20
There is no helpable information there ;) But here it is:

[17.01.2022 8:36:13] Current Config:
[17.01.2022 8:36:13]   Active= 1, Cycle= 10, FanBeep= 0 0, MaxReadErrors= 10
[17.01.2022 8:36:13]   IconLevels= 60 70 80
[17.01.2022 8:36:13]   Log2File= 1, Log2csv= 0, ShowAll= 0, IconColorFan= 1
[17.01.2022 8:36:13]   Levels= 50°C -> 255,  60°C -> 0x80,  67°C -> 169,  80°C -> 140,  85°C -> 126,  90°C

[2022-01-17 20:58] Shuzhengz commented on #20
cool, thanks

[2022-01-20 08:29] Shuzhengz commented on #20
I did some moe digging on the internet, but can't find the source code for 0.63e, so it's kinda hard to know exactly how to fix it :/

I think the problem is the EC registry being different on some systems. But the problem is I don't know where yours is, so I can't fix it (because I can't test it on my system).

But I did build antoher build to test tho, and see if it works (the registry is used f

[2022-01-20 08:34] vtainc commented on #20
Tested. No, it doesn't work. Ok, I will try to compile the source code and see what is wrong. It was a very long time ago when I was programming something :). I hope that I succeed

[2022-01-21 01:20] Shuzhengz commented on #20
Cool, good luck :)

(also you might have to add in the `.ini` file manually to the debug folder when debugging it using visual studio)

[2022-01-21 20:38] vtainc commented on #20
Also I think, you may include in your code tvicport.lib, because it is not included and I have found it in another repository ( included tvicport.lib, that comes with tvicport installer does not work, with vs 2022 )

[2022-01-22 04:52] Shuzhengz commented on #20
Oh cool thanks! I'll look into it this weekend

[2022-03-02 07:11] mjiderhamn opened #21 "Smart Mode keeps fan on during hibernate"
**Describe the bug**
If running TPFanCtrl2 in Smart Mode and then putting the computer in hibernation mode, the fan keeps running. This in turn means the battery is drained while hibernating.

**To Reproduce**
Steps to reproduce the behaviour:
* Start TPFanCtrl2 with default settings.
* Switch to Smart Mode
* Make the computer Hibernate

**Expected behaviour**
Fan is turned off during hibernation,

[2022-03-03 04:28] Shuzhengz commented on #21
Hmm that's weird. Thanks for bringing it up, I'll definitely look into it

[2022-03-03 04:53] #15 closed

[2022-03-03 05:10] Shuzhengz commented on #21
The fans turn off for me during hibernate on smart (also on Windows 10 21H1, ThinkPad X1 Extreme). I think it might have something to do with Lenovo's easy resume feature, or just newer Thinkpad models' EC.

I'll try adding power mode change detection and see if it helps.

[2022-03-03 08:01] mjiderhamn commented on #21
Can I help by supplying any logs?

[2022-03-04 07:05] Shuzhengz commented on #21
I don't think power changes or window closing actions are implemented yet, so they won't show up on logs. Thanks tho!

[2022-03-08 10:26] thessarb opened #23 "ThinkPad P50 blackscreen"
hi!
Got an issue with my P50. If i run tpfc on discrete gpu mode the screen goes black and never recovers. If i run it in hybrid mode the discrete gpu crashes and completely disappears from device manager leaving no trace. If i disable dgpu in devmanager, run tpfc and then try to enable dgpu i get error 31 (windows cannot load drivers for this device). This issue persist with every dual fan versio

[2022-03-08 17:56] Shuzhengz commented on #23
Hmm that's weird, the program doesn't actually access the GPU
Do you have a Xeon CPU or an i7? This might be an issue with how the CPU communicates with the GPU. I don't think this is an issue with the Quadro because the program works with my W540 (i7 X series and K2100M).

But the Nvidia driver (and intel driver) might be a cause so it's probably a good idea to update to the latest version (I als

[2022-03-08 18:02] thessarb commented on #23
thank you for your reply
i have the i7-6820HQ with the M1000m. single fan versions of tpfc work fine. the drivers are the latest ones from both intel and nvidia respectively (nvidia-studio drivers).

[2022-03-08 19:21] Shuzhengz commented on #23
hm okay, I'll try modding one of the single fan versions into dual fan then

[2022-03-09 06:27] thessarb commented on #23
Thank you

[2022-03-11 07:05] #19 closed

[2022-03-12 02:31] Remalisa commented on #23
Hello! I have the same problem with black screen on P50. My P50 is Xeon/M2000M.
I took a lot of time to solve the problem and find a program to control two fans. I tried to diagnose the fans for problems through the official Lenovo Diagnostic Program. When im trying to check the fans I also got a black screen, I hope this information helps to solve the problem.

I really hope for you!

[2022-03-12 07:00] Shuzhengz commented on #23
Thank you!

[2022-03-12 21:58] Shuzhengz commented on #21
cool try this

[tpfc.zip](https://github.com/Shuzhengz/TPFanCtrl2/files/8238532/tpfc.zip)

[2022-03-14 14:02] mjiderhamn commented on #21
Fans still running while hibernating with this one also.

[2022-03-14 14:19] 0xbb commented on #21
Maybe unrelated: My X1 Extreme Gen 4 also keeps the fan spinning in standby (sleep) even without tpfc.
I usually turn off the modern standby on newer Thinkpads and this problem goes away: https://www.drwindows.de/xf/attachments/anmerkung-2020-02-21-050059-jpg.214555/ https://www.drwindows.de/xf/attachments/anmerkung-2020-02-21-050017-jpg.214554/

[2022-03-15 06:14] Shuzhengz opened #26 "Icon and Noballoons Upgrade"
Icon and Noballoons are based on old Visual Studio, needs upgrade to 2022

[2022-03-15 06:15] #26 closed

[2022-03-16 02:24] Shuzhengz commented on #21
@mjiderhamn maybe try this config, I tuned the fan curve so the fan shuts off earlier than usual, and ramps up quicker.
[TPFanControl.zip](https://github.com/Shuzhengz/TPFanCtrl2/files/8258419/TPFanControl.zip)

[2022-03-19 22:42] Shuzhengz commented on #23
[tpfc.zip](https://github.com/Shuzhengz/TPFanCtrl2/files/8310258/tpfc.zip)
try see if this one works
code on #25

[2022-03-19 22:45] Remalisa commented on #23
Hello, I will try it at Monday.

Thanks a lot in advance!!

[2022-03-19 22:47] Shuzhengz commented on #20
i built another one from the one fan version, try see if this works
[tpfc.zip](https://github.com/Shuzhengz/TPFanCtrl2/files/8310260/tpfc.zip)

[2022-03-19 22:47] Shuzhengz commented on #23
yeah np!

[2022-03-20 06:24] thessarb commented on #23
hi!
just tried it and it still blackscreens. this time windows doesnt seem to freeze on dgpu only mode tho. here are ythe logs captured by the program:
[TPFanControl.log](https://github.com/Shuzhengz/TPFanCtrl2/files/8310705/TPFanControl.log)
[TPFanControl_csv.txt](https://github.com/Shuzhengz/TPFanCtrl2/files/8310706/TPFanControl_csv.txt)

[2022-03-20 07:21] vtainc commented on #20
Hi!

Tested - no good news - doesn't work. Same behavior as always.

[2022-03-21 02:48] Shuzhengz commented on #20
sad
I wonder if it's a problem w the second fan config in lenovos drivers
the p50 in the other issue has a similar problem (except the p50 just shuts off straight away, even when using lenovo's own diagnostic tools)

[2022-03-21 02:49] Shuzhengz commented on #20
or it could be just we haven't found the correct ec address yet

[2022-03-21 02:50] Shuzhengz commented on #23
hmm from the logs it seems like the program crashed while trying to access the fan EC
i think it might be a problem with the the second fan address

[2022-03-21 06:42] vtainc commented on #20
Yeah, but I have build, that is working correctly, but without your modifications. So, it seems to be, that the problem is not with ec address and there is some other problem.

[2022-03-21 07:10] Shuzhengz commented on #20
sorry, i mean the ec address for the second fan (the first one should work because the code for that is pretty much from the version you sent)
actually, do you mind if I take a look at the code for the modifications you put on so i can try fixing the fan speed?
Thanks!

[2022-03-21 07:14] vtainc commented on #20
No problems. The code is broken, but it works :D

Here is the link: [https://disk.yandex.ru/d/b3Q06C34OtcGxg](url)

[2022-03-21 08:25] mjiderhamn commented on #21
@0xbb , with Sleep State mode Linux set in UEFI, fans turn off in hibernation mode even with TPFC running. In Windows mode, fans stop without TPFC but keep spinning with TPFC.

[2022-03-22 11:43] thessarb commented on #23
thanks for the reply!
is thre anything i could do about it or something oyu would suggest? (fan can be controlled under linux)

[2022-03-22 18:18] Shuzhengz commented on #23
yea np!
is it linux mode for the laptop or running GNU/Linux? if it's the ladder do you have the source code for it? the two addresses might be similar
thank you!

[2022-03-22 18:18] Shuzhengz commented on #20
thanks!

[2022-03-22 20:00] thessarb commented on #23
it is running GNU/Linux (PopOS 20.10) in tripple boot (also got MacOS Monterey beta). [Here is what i use to control the fans in linux](https://github.com/scientifichackers/thinkfan-control-gui)

[2022-03-23 23:33] Shuzhengz commented on #23
oooh yeah i almost forgot that linux doesn't use address to control the EC. I wonder if it's a kernel level thing

[2022-03-23 23:38] Shuzhengz commented on #20
Okay i changed ur code a bit and it works and detects fan speed on my machine, see if it works
[tpfc.zip](https://github.com/Shuzhengz/TPFanCtrl2/files/8337293/tpfc.zip)

[2022-03-24 08:25] vtainc commented on #20
Yes, this one works.

<img width="759" alt="image" src="https://user-images.githubusercontent.com/19706430/159873599-401b49c4-e4c0-42dc-9f3f-6dae61257b9b.png">

[2022-03-25 00:29] Shuzhengz commented on #20
nice
lemme add some more features and build again

[2022-03-25 00:30] Shuzhengz commented on #20
hmm maybe it has something to do with the config?

[2022-03-25 00:31] Shuzhengz commented on #20
maybe check the fan curve in smart mode

[2022-03-29 06:44] Shuzhengz opened #32 "Fans fail to sync"
Sometimes the fans will fail to sync, with one ramping up and the other not.

This will usually fix itself, but sometimes it doesn't

Currently the workaround is to fix it manually by switch to BIOS mode, then switch back to the desired mode

[2022-04-03 15:35] Remalisa commented on #23
@thessarb Hello! Im sorry that im very noob at programing and understanding of all of this stuff.
I correctly understand that the problem is not solved at the moment?

[2022-04-05 06:16] Shuzhengz commented on #23
yeah, I'm currently working on resolving issue #20 with PR #31, maybe you can try that build out and see if it works

[2022-04-05 12:30] thessarb commented on #23
@Remalisa np i am no different
@Shuzhengz thx ill try it out later

[2022-04-05 18:42] Shuzhengz commented on #23
heres the link to a wip build
[tpfc.zip](https://github.com/Shuzhengz/TPFanCtrl2/files/8337293/tpfc.zip)

[2022-04-07 15:34] vtainc commented on #20
Hi, my second laptop is also thinkbook 14g2. The working version for it is 0.62 - https://thinkwiki.de/tpfancontrol/tpfc_v062.zip

[2022-04-07 16:09] DerKatzenkoenig commented on #20
Already tried that - with all versions I've got the same issue, that no cpu temp gets captured.

[2022-04-07 16:16] vtainc commented on #20
Strange. You may try https://www.argusmonitor.com/

[2022-04-07 16:17] DerKatzenkoenig commented on #20
Thanks! Will do

[2022-04-07 16:26] DerKatzenkoenig commented on #20
And sorry for the dumb question, but do I need to give access to EC somehow?

[2022-04-07 16:44] DerKatzenkoenig commented on #20
Argus works for monitoring CPU temp, but not for fan speeds (monitor and control). Your TPFC only gets "xc3" temp at 16°C and nothing else. Damn, I just want this laptop to be quiet haha

[2022-04-07 16:50] DerKatzenkoenig commented on #20
![Screenshot 2022-04-07 184946](https://user-images.githubusercontent.com/103202814/162255767-8db15be0-f84d-435c-948d-d28ba3d533c2.png)

this is what I get in tpfc.

[2022-04-07 16:54] vtainc commented on #20
hmm. strange. Seems to be, that offsets for the sensors are incorrect. See my post on the top of the thread . Download RW everything , open ec controller and search for your sensors. Then, if you can you must compile your own build using visual studio )

[2022-04-07 16:58] vtainc commented on #20
Have you really tested all versions? :

![image](https://user-images.githubusercontent.com/19706430/162257170-b3e3a15e-930f-41a5-953c-fe1b01454cce.png)

[2022-04-07 16:59] DerKatzenkoenig commented on #20
I wish that i could haha
Is it possible, that the intelligent thermal solutions driver by lenovo and vantage are disturbing tpfc?

[2022-04-07 17:02] DerKatzenkoenig commented on #20
matter of fact: can't even launch rweverything. And yes, tested most of them. I can try to test all haha

[2022-04-07 17:12] vtainc commented on #20
Theoretically yes, they can disturb.

And yeah after win11 latest update rweverything doesn't work anymore. I think, that you must downgrade to w10 :) . I have also done this today and i'm happy :D

[2022-04-07 17:14] thessarb commented on #23
hi!
just tried the wip build and tpfc launches finally, but it lacks cpu temps and cant control the fan. also it shows the fans as if they were stuck at 5120RPM. here is the log:

[TPFanControl.log](https://github.com/Shuzhengz/TPFanCtrl2/files/8445169/TPFanControl.log)

[2022-04-07 17:16] DerKatzenkoenig commented on #20
Aw man. I really adapted to win11 by now :( funfact: uninstalled all power management things that I could find und got the pwr sensor haha

[2022-04-07 17:18] Remalisa commented on #23
@thessarb Hi! Can you please explain to me how did you start the program? I was trying, but I failed ;(

[2022-04-07 18:02] DerKatzenkoenig commented on #20
can you tell me the ec controller data for cpu temp?

[2022-04-07 20:24] thessarb commented on #23
@Remalisa i didnt do anything different, just extracted the zip and ran fancontrol.exe (W11 Insider Dev Build 22593)

[2022-04-08 17:27] Remalisa commented on #23
Hello!
I have finally opened the program. I also observe that the temperatures and fan speeds do not change in numbers. I also noticed that when the manual mode is selected from 0 to 7, the fan speed simply does not change. Moreover when you select manual mode 7, it automatically changes to program mode .ini

[2022-04-08 19:29] Remalisa commented on #23
@Shuzhengz trying to install rw apears the same problem as in this link: https://www.bleepingcomputer.com/forums/t/709973/rw-everything-not-working-after-windows-build-update-to-the-last-version-1903/

[2022-04-08 20:26] Shuzhengz commented on #23
hmm are you on windows 10 or 11?
you can try using another program, any that reads the EC should work, I just haven't used those other than rweverything on windows

[2022-04-08 21:25] Remalisa commented on #23
I'm using windows 10 21H2.
Ok, I will try something else, thanks!

On Fri, Apr 8, 2022, 11:26 PM Tom Zhang ***@***.***> wrote:

[2022-04-24 11:11] dangothic3 commented on #20
Hi,

i have the same Problem but with a Lenovo Thinkbook 15p G2 - 21B1000XGE.

The version i am using is the one of @Shuzhengz . And it now doesnt have anymore ec errors. So i think it is kind of working?!

Does anyone have an idea how to fix the problems? How do i read this rw tool?

I have windows 11

![Screenshot (3)](https://user-images.githubusercontent.com/104299469/164973552-bbb43d07-96ff-4

[2022-04-25 08:18] knutov opened #33 "Thinkpad X1 Carbon Gen 9 - wrong sensor"
It seems wrong sensor is used to mesure CPU temperature with X1 carbon gen 9:

![изображение](https://user-images.githubusercontent.com/255869/165048531-8bfcc8e4-2088-4dd4-9d81-74c6c04619a2.png)

So in "smart mode" with settings like
[code]
it's always run at speed 7 while real cpu temperature is 42.

X1 carbon gen 9 with I7 - 20XW005TRT
Latest BIOS - N32ET75W 1.51
Latest Windows 10 Pro
Latest TPF

[2022-04-26 07:46] Shuzhengz commented on #33
Yeah I just got a new computer and the program stopped working. I think newer ThinkPads have different EC addresses or just a different way to control the fan with their new intelligent cooling that you can't turn off. I'll be working on a fix for this once I get a chance to.
Thank you for reporting the issue!

[2022-04-26 07:51] Shuzhengz commented on #20
The one in the picture seems to be working, does manual control change the fan speed?

[2022-04-26 07:52] knutov commented on #33
fan control work fine, in manual mode I can set any speed (in fact with i7 I have to always use speed 7 to prevent it to be too hot to work with keyboard in "optimized" and "performance" mode)

[2022-04-26 08:04] Shuzhengz commented on #33
yeah it seems like lenovo has moved the address for the temperature sensor in the EC

[2022-04-26 08:14] dangothic3 commented on #20
Sadly no. If I go to manual, it automatically switches back to smart.

Also the temperature of the cpu (1) is wrong.

[2022-04-26 09:22] Shuzhengz commented on #20
Can you try changing the value of `ManModeExit` ton 102 in the .ini file and try again? It might have just exited manual because it thinks the temps is too high. I'm still working on fixing the sensor issue.

[2022-04-26 09:59] dangothic3 commented on #20
Yes that worked. I can now enter the manual mode.

But i can't control anything with the maual mode. Its not the scale from 0-7 and not the one from 0 -255. Nothing happens or maybe i am just dumb...

Can I help you in any way? Do you need some more information ?

I am really thankful for your help!

[2022-04-28 16:24] thessarb commented on #23
hi @Shuzhengz. had too many assignments at uni and didnt have time to track the issue. what program would you recommend to read the EC? i cant seem to find any, or i simply dont know how to search ig

[2022-05-04 16:14] jtlarson commented on #33
My workaround is to modify the ini file to ignore the pwr and pci sensors:

IgnoreSensors=no5,pci,pwr

[2022-05-05 13:19] milansimek opened #34 "Thinkpad Yoga X1 gen 6 fan speed level"
First of all: This version of the program works perfectly fine on the Thinkpad Yoga X1 gen 6 :) At least for my purpose.

In some cases I want the fan to be on max all the time, when doing some intensive tasks. (Using noise cancelling headphones anyway)

I noticed that setting the fan speed to `7` does not increase the speed much. Value `127` does set the fan speed to max though.

Not sure what th

[2022-05-06 07:04] Shuzhengz commented on #34
Yeah it is like that because the 0-7 range is intended to be used as the fan levels intended by the manufacture (7 being the highest that the laptop BIOS can go), and to take full advantage of the fan you'll need to enter 0-128 in hex (for example, 128 in hex is 0x80, which is entered as 80).
Thanks for the heads up though, probably something that I should put into README :)

[2022-05-10 14:58] knutov commented on #33
Thanks, it works!

[2022-06-09 17:09] #34 closed

[2022-06-14 04:29] Shuzhengz commented on #23
hi sorry, I was very busy with school for the past few weeks and didn't have time to get back to this
rweverything might not work if you have old drivers, so probably a good idea to update all the drivers
I don't know any other equivalent programs, but you could try reading the msr registry using the [rdmsr command](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/rdmsr--read-msr

[2022-06-14 04:43] Shuzhengz opened #36 "TVicPort dll"
Add .dll for TVicPort into the release package so no need to install separate application

[2022-06-18 17:42] thessarb commented on #23
np, same here, in the middle of an annoying exam season XD. will try it as soon as im done with the exams and post the results here. thanks

[2022-06-18 23:38] Lego737 commented on #23
Hello Shuzhengz

Is there an update for the P50 with TPFanControl? I've been doing tons of research but can't for the life of me figure it out.

[2022-06-19 22:36] Shuzhengz commented on #23
@Lego737 Hi!
sorry I just got back to working on this project, it seems like the version from PR #31 is working better than the intended version, so I'm going to say try that one out, [here's the link to that wip build binary](https://github.com/Shuzhengz/TPFanCtrl2/files/8337293/tpfc.zip)
It seems like it's still reading from the wrong address though, so it would be great if you could try downloa

[2022-06-20 05:03] Lego737 commented on #23
Sure, I will do that then report here!

[2022-06-25 18:25] thessarb commented on #23
hi @Shuzhengz! i downloaded rw everything, opened embedded controller but i dont understand the gibberish it puts out. could you give me some hint on how to interpret it? here is an image of what i see:
![image](https://user-images.githubusercontent.com/73614157/175785989-6f050c17-dcbb-4aef-b0b2-d8649640f77a.png)

[2022-06-28 02:35] Shuzhengz commented on #23
yup, so currently the release version has the address 0x2F as the data port controller address, which is in hex, and would be 47 in decimal. The number `2F` means that it is on the `20` row and the `0F` column, which would be this one
![image](https://user-images.githubusercontent.com/43869232/176076432-9b1e09db-1b4b-41b6-abff-d82c1225e992.png)

[2022-06-28 02:37] Shuzhengz commented on #23
when using manual mode to set fan speed, the value here at `0x2F` would become whatever the inputted fan speed value is (after converting to hex)

[2022-06-28 02:41] Shuzhengz commented on #23
try manually change the `0x2F` address to value `46`, if you can hear the speed of the fan ramp up then it's the right address

[2022-06-28 02:44] Shuzhengz commented on #23
the temperature readout is currently at address `0x78`, and should be changing in real time
you can find out which address yours is by using another software to monitor your cpu temp (package temp), then convert it to hex, and find which address has the value close o it

[2022-06-28 02:48] #33 closed

[2022-06-28 06:18] thessarb commented on #23
So i looked at the said values. 0x78 doesnt really chase the temp reported by the cpu itself, but it matches the cpu temp reported by the EC 1:1. Also 0x79 seems to chase the dGPU temps with 1s delay. Setting 0x2F to 46 ramps up only the left fan.

[2022-06-28 07:21] thessarb commented on #23
@Shuzhengz i think i may have found the issue. 0x31 seems to be the "fan selector". When the laptop starts up it hold the value 41 and with that i can control the left fan. With the value 40 i can control the right fan. Dgpu doesnt seem to disappear. However the dual fan tpfc seems to use values 00 and 01 in that address and sure enough, the moment i put either of those values the dgpu goes offlin

[2022-07-01 21:51] Shuzhengz commented on #23
thank you! I will work on this in a little bit

[2022-07-04 19:04] Ew687 opened #38 "garbled characters V.2.1.4"
Hello - sorry my english
V.2.1.4 encoding problem

https://ibb.co/Rg2PqRp
<a href="https://ibb.co/Rg2PqRp"><img src="https://i.ibb.co/Rg2PqRp/e.png" alt="e" border="0"></a>

[2022-07-09 23:43] Shuzhengz commented on #23
@thessarb can you try this build? I corrected the ec addresses, however I'm still working on getting the rempeature reading. Currently I'm trying to use [open hardware monitor](https://github.com/openhardwaremonitor/openhardwaremonitor)'s dll in CLI mode to read the package temperature, but there are still a lot of bugs to iron out, so it would be great if you can verify that the fan addresses are

[2022-07-09 23:44] Shuzhengz commented on #23
here's the built program: [tpfc-p50b.zip](https://github.com/Shuzhengz/TPFanCtrl2/files/9078094/tpfc-p50b.zip)

[2022-07-10 04:16] Lego737 commented on #23
Unfourtnately, it sadly didn't work for me. I tried both builds on dGPU mode and the screen still went black.

[2022-07-10 04:31] Shuzhengz commented on #23
hmm does it go black immediately or after a few seconds?

[2022-07-10 04:33] thessarb commented on #23
@Shuzhengz thank you, ill try it as soon as i get home

[2022-07-10 04:35] thessarb commented on #23
@Lego737 boot in hybrid mode, disable dgpu from dev manager so you dont BSOD in a few minutes, open rweverything and choose Embedded Controller, run tpfc. Look at the value at the row 30 and column 01. The value shpuld be 41 at the start, check the value that is input by tpfc.

[2022-07-10 05:35] Lego737 commented on #23
Yes, it goes black instantly.

[2022-07-10 12:55] thessarb commented on #23
@Shuzhengz hi again! im happy to report that tpfc doesnt cause black screen for me anymore. also open hardware monitor seems to work and the values match both hwinfo64 and hwmon

[2022-07-10 16:19] Lego737 commented on #23
@thessarb, how did you fix the issue in dGPU mode?

[2022-07-10 16:50] thessarb commented on #23
I did absolutely nothing. Just tried it in hybrid, dgpu didnt disappear. So i tried it in discrete mode and didnt get a black screen. The temp readout is kinda funky (the degree symbol is weird) but other than that it seems to be working fine for me

[2022-07-10 16:53] Lego737 commented on #23
I tried his latest build in dGPU mode and my screen still went black.

[2022-07-10 17:00] thessarb commented on #23
Try the one Tom uploaded here, thats the one im using

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Lego737 ***@***.***>
Sent: Sunday, July 10, 2022 6:54:10 PM
To: Shuzhengz/TPFanCtrl2 ***@***.***>
Cc: thessarb ***@***.***>; Mention ***@***.***>
Subject: Re: [Shuzhengz/TPFanCtrl2] ThinkPad P50 blackscreen (Issue #23)

I tried his latest build in dGPU mode

[2022-07-12 02:57] Shuzhengz commented on #38
Hi
I'm not really sure what the problem is, it would be great if you can explain the problem a little
Thank you!

[2022-07-12 02:58] Shuzhengz commented on #23
@Lego737 (this one)[https://github.com/Shuzhengz/TPFanCtrl2/files/9078094/tpfc-p50b.zip]

[2022-07-12 06:40] Ew687 commented on #38
Hi

Display issues on systems with garbled characters
With temperatures, I have bushes everywhere

V2.1.3

1 cpu 37° C (0x78)
3 crd 35° C (0x7a)
5 no5 35° C (0x7c)
6 x7d 31° C (0x7d)
7 bat 35° C (0x7e)

V2.1.4

1 cpu 37Â° C (0x78)
3 crd 35Â° C (0x7a)
5 no5 35Â° C (0x7c)
6 x7d 31Â° C (0x7d)
7 bat 35Â° C (0x7e)

Regards

[2022-07-13 05:46] Shuzhengz commented on #38
oooh okay I will fix it in a bit
thank you!

[2022-07-13 06:19] Shuzhengz commented on #38
okay can you try this build? it should fix it

[tpfc.zip](https://github.com/Shuzhengz/TPFanCtrl2/files/9099456/tpfc.zip)

[2022-07-13 06:23] Ew687 commented on #38
Thank you - it's okay now
Was that a mistake you overlooked?

greetings

[2022-07-13 06:43] Shuzhengz commented on #38
Visual studio didn't include the encoding formats when upgrading the project to be compatible with the new visual studio version, so I just added it back in.

Thank you!

[2022-07-13 06:44] Ew687 commented on #38
Thank you :)

[2022-07-13 06:58] Shuzhengz commented on #38
yeah ofc :)

[2022-07-13 06:58] #38 closed

[2022-07-15 02:08] idolumsky opened #42 "messy code in chinese characters on temprature displayed"
messy code in chinese characters on temprature displayed
52掳 C
in right way is 52°C

[2022-07-15 08:54] Shuzhengz commented on #42
Hi, can you try this build [here](https://github.com/Shuzhengz/TPFanCtrl2/files/9099456/tpfc.zip) and see if it fixes it?
Thank you!

[2022-07-25 20:26] Shuzhengz commented on #20
Hi sorry, I was very busy earlier and forgot about this

Currently the release version has the address 0x2F as the data port controller address, which is in hex, and would be 47 in decimal. The number 2F means that it is on the 20 row and the 0F column, which would be this one

![image](https://user-images.githubusercontent.com/43869232/180867502-0c273d3a-d702-44d5-86ef-8ec950f60e53.png)

When usi

[2022-07-25 22:11] Shuzhengz commented on #23
@thessarb okay so using C# is giving me a ton of problems, I think I'll try another method by reading the msr

can you try and see from rweverything's cpu msr page if address `0x019C` (the temperature of each core) and address `0x1B1` (package temperature) reports the cpu temperature?

the values would look something like 0000000088260a82, you can ignore everything else and look at the "26" part (

[2022-07-26 05:46] Shuzhengz commented on #32
seems to be fixed with latest BIOS update, have not encountered since

[2022-07-26 05:46] #32 closed

[2022-07-26 21:25] thessarb commented on #23
I will look at it tomorrow after reinstalling windows. Today macos just randomly decided to wipe my windows install clean off the ssd.

[2022-07-27 18:47] #36 closed

[2022-07-27 18:47] Shuzhengz commented on #36
can't find it anywere

[2022-07-27 18:47] Shuzhengz commented on #42
fixed in 2.1.5

[2022-07-27 18:47] #42 closed

[2022-07-28 16:48] thessarb commented on #23
hi! sorry for the delay. i opened the msr page but i cant seem to find the said addresses. the list is pretty short and the values dont seem to change at all. a considerable amount of the values are just strings of 0-s.

[2022-07-28 17:45] Shuzhengz commented on #23
no worries
the MSR register is actually in the user value section (theres a button on the top right of the window next to the save button to add the addresses), and there should be a value for each of the CPU cores. For 0x019C they should be slightly different, but for 0x1B1 they should all be the same
thank you!

[2022-07-28 17:45] Shuzhengz commented on #23
![image](https://user-images.githubusercontent.com/43869232/181603341-6e65242c-ba76-4335-964a-773f664d1b36.png)

[2022-07-28 17:46] thessarb commented on #23
![image](https://user-images.githubusercontent.com/73614157/181603456-dc9fbb1e-bb06-4439-8495-264f936481c9.png)
this is all i get there

[2022-07-28 17:47] Shuzhengz commented on #23
yeah so you have to add the values in the pop up window
![image](https://user-images.githubusercontent.com/43869232/181603671-aea47203-cf34-4d77-8c89-bb9a44f8ac80.png)

[2022-07-28 17:48] Shuzhengz commented on #23
just type in the addresses, click add, and it should show up

[2022-07-28 17:57] thessarb commented on #23
just looked at it and i cant relate the values to the core temps in a meaningful way. when the cpu was at 36 degrees, the value there was 42, when the temp was at 60 the value was 3A and when it hit the thermal throttling point it went crazy cycling thru all possible numbers and letter up to F

[2022-07-28 18:09] Shuzhengz commented on #23
yeah in Intel's manual there is supposed to be a bitfield modifier for the values to convert it into hex (I believe it's 15:0), I can add that in the code, but I have no idea what it means or actually does.

[2022-07-28 18:10] Shuzhengz commented on #23
page 20 of [this](https://www.intel.com/content/dam/www/public/us/en/documents/design-guides/4th-gen-core-family-desktop-tmsdg.pdf)

[2022-08-02 23:03] aricursion opened #45 "Failed to Read on Z16 Gen 1"
When I run the program on my Z16 Gen 1 (Windows 11) I get repeated iterations of
[code]

[2022-08-03 01:08] Shuzhengz commented on #45
does it constantly print that or does the fan control work but sometimes fail to read from EC?

[2022-08-03 01:12] zaxioms commented on #45
Apologies for not being more specific, it constantly prints that and is unable to detect the fans.

[2022-08-03 19:31] Shuzhengz commented on #45
hm it seems like the EC address for fan speed on your laptop is different
try downloading [rweverything](http://rweverything.com/download/), and then open the embedded controller
currently the fan status is set at `0x84`, meanthing that it should be at the `80` row and `04` column in word 16 bit mode, like this:

![image](https://user-images.githubusercontent.com/43869232/182692462-681fbea8-43ed-4

[2022-08-08 20:19] Lego737 commented on #23
@Shuzhengz

I love that you were able to fix this app as I can now use my P50 without it overheating a ton! So, thank you for that!

However, I've come accross a problem that I'm currently looking into. When I launch a game, that being Fortnite, and have the app running in the background, Fortnite ends up crashing after 10 or so minutes. I did, at one point, reinstall the dGPU driver which seemed

[2022-08-09 00:54] Shuzhengz commented on #23
hi @Lego737
thank you! can you try using a CPU stress test tool like cinebench CPU or blender CPU render, with the fan control set to manual 80 and see if it crashes? this will narrow the issue down to CPU and fan contol or GPU.

also currently I'm still working on temperature for the p50 because it's not in the EC, so it would probably would be a good idea to avoid using smart mode for now and st

[2022-10-03 07:05] R0FGV opened #48 "The display of Celsius in Chinese is abnormal"
![image](https://user-images.githubusercontent.com/19688305/193518961-e241eae4-3c91-40aa-a38b-ea2d426ee35e.png)

[2022-10-08 06:13] Shuzhengz commented on #48
Thank you for reporting this

Can you check the current local language for non-unicode programs under `control panel > clock and region > region > administrative tab > change system local`?

Thanks

[2022-10-22 00:17] #16 closed

[2022-10-24 06:00] R0FGV commented on #48
Version 2.1.5 solves this problem perfectly

[2022-11-01 16:21] Shuzhengz commented on #48
oh nice

[2022-11-01 16:21] #48 closed

[2022-11-08 11:44] sergeevabc opened #49 "Speed RPM is not displayed"
Thinkpad X61, Windows 7 x64, TVicPort 4.1

Dear @Shuzhengz, let's compare the [official](https://thinkwiki.de/TPFanControl) TPFC 0.63 output with the output of your fork TPFC 2.1.5. As you can see, the laptop's fan is controlled just fine, but its RPM is not displayed, alas. Perhaps you could be so kind to invent some tweak to make it work again?

![image](https://user-images.githubusercontent.com

[2022-11-10 04:31] Shuzhengz commented on #49
hi
thank you for submitting the issue.
I'm actually quite busy right now but I'll get back to it once I have time, sorry about that

[2022-11-16 09:11] Shuzhengz commented on #49
Hi
can you enable Log2File in the `.ini` file and then try to run the program again? It'll be very helpful if you can send any errors that are logged

Thank you

[2022-11-16 10:01] sergeevabc commented on #49
@Shuzhengz, I got logs from the original 0.63 (A) and your build (B). Not sure if they are verbose enough to troubleshoot, but you requested them, so here we go.

A
[code]

B
[code]